2024-2/0682/unidad07.f - Programación distribuida - reportes/SoftPub_Front-end/SoftPubBaseBO/Connected Services/ServicioWeb/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.softpub.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioWeb" targetNamespace="http://servicios.softpub.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPubWS_Servidor/ServicioWeb?xsd=1" namespace="http://servicios.softpub.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="seccion_insertar">
    <part name="parameters" element="tns:seccion_insertar" />
  </message>
  <message name="seccion_insertarResponse">
    <part name="parameters" element="tns:seccion_insertarResponse" />
  </message>
  <message name="seccion_modificar">
    <part name="parameters" element="tns:seccion_modificar" />
  </message>
  <message name="seccion_modificarResponse">
    <part name="parameters" element="tns:seccion_modificarResponse" />
  </message>
  <message name="seccion_eliminar">
    <part name="parameters" element="tns:seccion_eliminar" />
  </message>
  <message name="seccion_eliminarResponse">
    <part name="parameters" element="tns:seccion_eliminarResponse" />
  </message>
  <message name="especialidad_eliminar">
    <part name="parameters" element="tns:especialidad_eliminar" />
  </message>
  <message name="especialidad_eliminarResponse">
    <part name="parameters" element="tns:especialidad_eliminarResponse" />
  </message>
  <message name="especialidad_listarTodos">
    <part name="parameters" element="tns:especialidad_listarTodos" />
  </message>
  <message name="especialidad_listarTodosResponse">
    <part name="parameters" element="tns:especialidad_listarTodosResponse" />
  </message>
  <message name="especialidad_obtenerPorId">
    <part name="parameters" element="tns:especialidad_obtenerPorId" />
  </message>
  <message name="especialidad_obtenerPorIdResponse">
    <part name="parameters" element="tns:especialidad_obtenerPorIdResponse" />
  </message>
  <message name="especialidad_insertar">
    <part name="parameters" element="tns:especialidad_insertar" />
  </message>
  <message name="especialidad_insertarResponse">
    <part name="parameters" element="tns:especialidad_insertarResponse" />
  </message>
  <message name="seccion_listarTodos">
    <part name="parameters" element="tns:seccion_listarTodos" />
  </message>
  <message name="seccion_listarTodosResponse">
    <part name="parameters" element="tns:seccion_listarTodosResponse" />
  </message>
  <message name="seccion_obtenerPorId">
    <part name="parameters" element="tns:seccion_obtenerPorId" />
  </message>
  <message name="seccion_obtenerPorIdResponse">
    <part name="parameters" element="tns:seccion_obtenerPorIdResponse" />
  </message>
  <message name="especialidad_modificar">
    <part name="parameters" element="tns:especialidad_modificar" />
  </message>
  <message name="especialidad_modificarResponse">
    <part name="parameters" element="tns:especialidad_modificarResponse" />
  </message>
  <portType name="ServicioWeb">
    <operation name="seccion_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_insertarRequest" message="tns:seccion_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_insertarResponse" message="tns:seccion_insertarResponse" />
    </operation>
    <operation name="seccion_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_modificarRequest" message="tns:seccion_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_modificarResponse" message="tns:seccion_modificarResponse" />
    </operation>
    <operation name="seccion_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_eliminarRequest" message="tns:seccion_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_eliminarResponse" message="tns:seccion_eliminarResponse" />
    </operation>
    <operation name="especialidad_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_eliminarRequest" message="tns:especialidad_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_eliminarResponse" message="tns:especialidad_eliminarResponse" />
    </operation>
    <operation name="especialidad_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_listarTodosRequest" message="tns:especialidad_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_listarTodosResponse" message="tns:especialidad_listarTodosResponse" />
    </operation>
    <operation name="especialidad_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_obtenerPorIdRequest" message="tns:especialidad_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_obtenerPorIdResponse" message="tns:especialidad_obtenerPorIdResponse" />
    </operation>
    <operation name="especialidad_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_insertarRequest" message="tns:especialidad_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_insertarResponse" message="tns:especialidad_insertarResponse" />
    </operation>
    <operation name="seccion_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_listarTodosRequest" message="tns:seccion_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_listarTodosResponse" message="tns:seccion_listarTodosResponse" />
    </operation>
    <operation name="seccion_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_obtenerPorIdRequest" message="tns:seccion_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_obtenerPorIdResponse" message="tns:seccion_obtenerPorIdResponse" />
    </operation>
    <operation name="especialidad_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_modificarRequest" message="tns:especialidad_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_modificarResponse" message="tns:especialidad_modificarResponse" />
    </operation>
  </portType>
  <binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="seccion_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seccion_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seccion_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seccion_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seccion_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWeb">
    <port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
      <soap:address location="http://localhost:8080/SoftPubWS_Servidor/ServicioWeb" />
    </port>
  </service>
</definitions>