2024-2/0682/unidad07.f - Programación distribuida - reportes/SoftPub_Front-end/SoftPubBaseBO/Connected Services/ServicioWeb/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicios.softpub.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioWeb" targetNamespace="http://servicios.softpub.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPubWS_Servidor/ServicioWeb?xsd=1" namespace="http://servicios.softpub.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="seccion_obtenerPorId">
    <part name="parameters" element="tns:seccion_obtenerPorId" />
  </message>
  <message name="seccion_obtenerPorIdResponse">
    <part name="parameters" element="tns:seccion_obtenerPorIdResponse" />
  </message>
  <message name="especialidad_insertar">
    <part name="parameters" element="tns:especialidad_insertar" />
  </message>
  <message name="especialidad_insertarResponse">
    <part name="parameters" element="tns:especialidad_insertarResponse" />
  </message>
  <message name="especialidad_eliminar">
    <part name="parameters" element="tns:especialidad_eliminar" />
  </message>
  <message name="especialidad_eliminarResponse">
    <part name="parameters" element="tns:especialidad_eliminarResponse" />
  </message>
  <message name="especialidad_obtenerPorId">
    <part name="parameters" element="tns:especialidad_obtenerPorId" />
  </message>
  <message name="especialidad_obtenerPorIdResponse">
    <part name="parameters" element="tns:especialidad_obtenerPorIdResponse" />
  </message>
  <message name="alumno_obtenerPorId">
    <part name="parameters" element="tns:alumno_obtenerPorId" />
  </message>
  <message name="alumno_obtenerPorIdResponse">
    <part name="parameters" element="tns:alumno_obtenerPorIdResponse" />
  </message>
  <message name="profesor_listarTodos">
    <part name="parameters" element="tns:profesor_listarTodos" />
  </message>
  <message name="profesor_listarTodosResponse">
    <part name="parameters" element="tns:profesor_listarTodosResponse" />
  </message>
  <message name="profesor_obtenerPorId">
    <part name="parameters" element="tns:profesor_obtenerPorId" />
  </message>
  <message name="profesor_obtenerPorIdResponse">
    <part name="parameters" element="tns:profesor_obtenerPorIdResponse" />
  </message>
  <message name="especialidad_modificar">
    <part name="parameters" element="tns:especialidad_modificar" />
  </message>
  <message name="especialidad_modificarResponse">
    <part name="parameters" element="tns:especialidad_modificarResponse" />
  </message>
  <message name="profesor_existeProfesor">
    <part name="parameters" element="tns:profesor_existeProfesor" />
  </message>
  <message name="profesor_existeProfesorResponse">
    <part name="parameters" element="tns:profesor_existeProfesorResponse" />
  </message>
  <message name="seccion_listarTodos">
    <part name="parameters" element="tns:seccion_listarTodos" />
  </message>
  <message name="seccion_listarTodosResponse">
    <part name="parameters" element="tns:seccion_listarTodosResponse" />
  </message>
  <message name="articulo_listarTodos">
    <part name="parameters" element="tns:articulo_listarTodos" />
  </message>
  <message name="articulo_listarTodosResponse">
    <part name="parameters" element="tns:articulo_listarTodosResponse" />
  </message>
  <message name="articulo_obtenerPorId">
    <part name="parameters" element="tns:articulo_obtenerPorId" />
  </message>
  <message name="articulo_obtenerPorIdResponse">
    <part name="parameters" element="tns:articulo_obtenerPorIdResponse" />
  </message>
  <message name="capitulo_obtenerPorId">
    <part name="parameters" element="tns:capitulo_obtenerPorId" />
  </message>
  <message name="capitulo_obtenerPorIdResponse">
    <part name="parameters" element="tns:capitulo_obtenerPorIdResponse" />
  </message>
  <message name="conferencia_insertar">
    <part name="parameters" element="tns:conferencia_insertar" />
  </message>
  <message name="conferencia_insertarResponse">
    <part name="parameters" element="tns:conferencia_insertarResponse" />
  </message>
  <message name="capitulo_listarTodos">
    <part name="parameters" element="tns:capitulo_listarTodos" />
  </message>
  <message name="capitulo_listarTodosResponse">
    <part name="parameters" element="tns:capitulo_listarTodosResponse" />
  </message>
  <message name="conferencia_modificar">
    <part name="parameters" element="tns:conferencia_modificar" />
  </message>
  <message name="conferencia_modificarResponse">
    <part name="parameters" element="tns:conferencia_modificarResponse" />
  </message>
  <message name="conferencia_eliminar">
    <part name="parameters" element="tns:conferencia_eliminar" />
  </message>
  <message name="conferencia_eliminarResponse">
    <part name="parameters" element="tns:conferencia_eliminarResponse" />
  </message>
  <message name="especialidad_listarTodos">
    <part name="parameters" element="tns:especialidad_listarTodos" />
  </message>
  <message name="especialidad_listarTodosResponse">
    <part name="parameters" element="tns:especialidad_listarTodosResponse" />
  </message>
  <message name="conferencia_listarTodos">
    <part name="parameters" element="tns:conferencia_listarTodos" />
  </message>
  <message name="conferencia_listarTodosResponse">
    <part name="parameters" element="tns:conferencia_listarTodosResponse" />
  </message>
  <message name="conferencia_obtenerPorId">
    <part name="parameters" element="tns:conferencia_obtenerPorId" />
  </message>
  <message name="conferencia_obtenerPorIdResponse">
    <part name="parameters" element="tns:conferencia_obtenerPorIdResponse" />
  </message>
  <message name="editorial_modificar">
    <part name="parameters" element="tns:editorial_modificar" />
  </message>
  <message name="editorial_modificarResponse">
    <part name="parameters" element="tns:editorial_modificarResponse" />
  </message>
  <message name="editorial_obtenerPorId">
    <part name="parameters" element="tns:editorial_obtenerPorId" />
  </message>
  <message name="editorial_obtenerPorIdResponse">
    <part name="parameters" element="tns:editorial_obtenerPorIdResponse" />
  </message>
  <message name="editorial_listarTodos">
    <part name="parameters" element="tns:editorial_listarTodos" />
  </message>
  <message name="editorial_listarTodosResponse">
    <part name="parameters" element="tns:editorial_listarTodosResponse" />
  </message>
  <message name="capitulo_modificar">
    <part name="parameters" element="tns:capitulo_modificar" />
  </message>
  <message name="capitulo_modificarResponse">
    <part name="parameters" element="tns:capitulo_modificarResponse" />
  </message>
  <message name="profesor_insertar">
    <part name="parameters" element="tns:profesor_insertar" />
  </message>
  <message name="profesor_insertarResponse">
    <part name="parameters" element="tns:profesor_insertarResponse" />
  </message>
  <message name="seccion_eliminar">
    <part name="parameters" element="tns:seccion_eliminar" />
  </message>
  <message name="seccion_eliminarResponse">
    <part name="parameters" element="tns:seccion_eliminarResponse" />
  </message>
  <message name="articulo_modificar">
    <part name="parameters" element="tns:articulo_modificar" />
  </message>
  <message name="articulo_modificarResponse">
    <part name="parameters" element="tns:articulo_modificarResponse" />
  </message>
  <message name="alumno_modificar">
    <part name="parameters" element="tns:alumno_modificar" />
  </message>
  <message name="alumno_modificarResponse">
    <part name="parameters" element="tns:alumno_modificarResponse" />
  </message>
  <message name="alumno_listarTodos">
    <part name="parameters" element="tns:alumno_listarTodos" />
  </message>
  <message name="alumno_listarTodosResponse">
    <part name="parameters" element="tns:alumno_listarTodosResponse" />
  </message>
  <message name="seccion_insertar">
    <part name="parameters" element="tns:seccion_insertar" />
  </message>
  <message name="seccion_insertarResponse">
    <part name="parameters" element="tns:seccion_insertarResponse" />
  </message>
  <message name="profesor_eliminar">
    <part name="parameters" element="tns:profesor_eliminar" />
  </message>
  <message name="profesor_eliminarResponse">
    <part name="parameters" element="tns:profesor_eliminarResponse" />
  </message>
  <message name="articulo_eliminar">
    <part name="parameters" element="tns:articulo_eliminar" />
  </message>
  <message name="articulo_eliminarResponse">
    <part name="parameters" element="tns:articulo_eliminarResponse" />
  </message>
  <message name="alumno_eliminar">
    <part name="parameters" element="tns:alumno_eliminar" />
  </message>
  <message name="alumno_eliminarResponse">
    <part name="parameters" element="tns:alumno_eliminarResponse" />
  </message>
  <message name="alumno_insertar">
    <part name="parameters" element="tns:alumno_insertar" />
  </message>
  <message name="alumno_insertarResponse">
    <part name="parameters" element="tns:alumno_insertarResponse" />
  </message>
  <message name="articulo_insertar">
    <part name="parameters" element="tns:articulo_insertar" />
  </message>
  <message name="articulo_insertarResponse">
    <part name="parameters" element="tns:articulo_insertarResponse" />
  </message>
  <message name="capitulo_insertar">
    <part name="parameters" element="tns:capitulo_insertar" />
  </message>
  <message name="capitulo_insertarResponse">
    <part name="parameters" element="tns:capitulo_insertarResponse" />
  </message>
  <message name="capitulo_eliminar">
    <part name="parameters" element="tns:capitulo_eliminar" />
  </message>
  <message name="capitulo_eliminarResponse">
    <part name="parameters" element="tns:capitulo_eliminarResponse" />
  </message>
  <message name="seccion_modificar">
    <part name="parameters" element="tns:seccion_modificar" />
  </message>
  <message name="seccion_modificarResponse">
    <part name="parameters" element="tns:seccion_modificarResponse" />
  </message>
  <message name="profesor_modificar">
    <part name="parameters" element="tns:profesor_modificar" />
  </message>
  <message name="profesor_modificarResponse">
    <part name="parameters" element="tns:profesor_modificarResponse" />
  </message>
  <message name="linea_insertar">
    <part name="parameters" element="tns:linea_insertar" />
  </message>
  <message name="linea_insertarResponse">
    <part name="parameters" element="tns:linea_insertarResponse" />
  </message>
  <message name="linea_listarTodos">
    <part name="parameters" element="tns:linea_listarTodos" />
  </message>
  <message name="linea_listarTodosResponse">
    <part name="parameters" element="tns:linea_listarTodosResponse" />
  </message>
  <message name="linea_obtenerPorId">
    <part name="parameters" element="tns:linea_obtenerPorId" />
  </message>
  <message name="linea_obtenerPorIdResponse">
    <part name="parameters" element="tns:linea_obtenerPorIdResponse" />
  </message>
  <message name="grupo_modificar">
    <part name="parameters" element="tns:grupo_modificar" />
  </message>
  <message name="grupo_modificarResponse">
    <part name="parameters" element="tns:grupo_modificarResponse" />
  </message>
  <message name="grupo_listarTodos">
    <part name="parameters" element="tns:grupo_listarTodos" />
  </message>
  <message name="grupo_listarTodosResponse">
    <part name="parameters" element="tns:grupo_listarTodosResponse" />
  </message>
  <message name="grupo_obtenerPorId">
    <part name="parameters" element="tns:grupo_obtenerPorId" />
  </message>
  <message name="grupo_obtenerPorIdResponse">
    <part name="parameters" element="tns:grupo_obtenerPorIdResponse" />
  </message>
  <message name="libro_modificar">
    <part name="parameters" element="tns:libro_modificar" />
  </message>
  <message name="libro_modificarResponse">
    <part name="parameters" element="tns:libro_modificarResponse" />
  </message>
  <message name="linea_eliminar">
    <part name="parameters" element="tns:linea_eliminar" />
  </message>
  <message name="linea_eliminarResponse">
    <part name="parameters" element="tns:linea_eliminarResponse" />
  </message>
  <message name="libro_listarTodos">
    <part name="parameters" element="tns:libro_listarTodos" />
  </message>
  <message name="libro_listarTodosResponse">
    <part name="parameters" element="tns:libro_listarTodosResponse" />
  </message>
  <message name="grupo_eliminar">
    <part name="parameters" element="tns:grupo_eliminar" />
  </message>
  <message name="grupo_eliminarResponse">
    <part name="parameters" element="tns:grupo_eliminarResponse" />
  </message>
  <message name="libro_insertar">
    <part name="parameters" element="tns:libro_insertar" />
  </message>
  <message name="libro_insertarResponse">
    <part name="parameters" element="tns:libro_insertarResponse" />
  </message>
  <message name="editorial_eliminar">
    <part name="parameters" element="tns:editorial_eliminar" />
  </message>
  <message name="editorial_eliminarResponse">
    <part name="parameters" element="tns:editorial_eliminarResponse" />
  </message>
  <message name="libro_eliminar">
    <part name="parameters" element="tns:libro_eliminar" />
  </message>
  <message name="libro_eliminarResponse">
    <part name="parameters" element="tns:libro_eliminarResponse" />
  </message>
  <message name="linea_modificar">
    <part name="parameters" element="tns:linea_modificar" />
  </message>
  <message name="linea_modificarResponse">
    <part name="parameters" element="tns:linea_modificarResponse" />
  </message>
  <message name="editorial_insertar">
    <part name="parameters" element="tns:editorial_insertar" />
  </message>
  <message name="editorial_insertarResponse">
    <part name="parameters" element="tns:editorial_insertarResponse" />
  </message>
  <message name="libro_obtenerPorId">
    <part name="parameters" element="tns:libro_obtenerPorId" />
  </message>
  <message name="libro_obtenerPorIdResponse">
    <part name="parameters" element="tns:libro_obtenerPorIdResponse" />
  </message>
  <message name="grupo_insertar">
    <part name="parameters" element="tns:grupo_insertar" />
  </message>
  <message name="grupo_insertarResponse">
    <part name="parameters" element="tns:grupo_insertarResponse" />
  </message>
  <portType name="ServicioWeb">
    <operation name="seccion_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_obtenerPorIdRequest" message="tns:seccion_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_obtenerPorIdResponse" message="tns:seccion_obtenerPorIdResponse" />
    </operation>
    <operation name="especialidad_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_insertarRequest" message="tns:especialidad_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_insertarResponse" message="tns:especialidad_insertarResponse" />
    </operation>
    <operation name="especialidad_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_eliminarRequest" message="tns:especialidad_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_eliminarResponse" message="tns:especialidad_eliminarResponse" />
    </operation>
    <operation name="especialidad_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_obtenerPorIdRequest" message="tns:especialidad_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_obtenerPorIdResponse" message="tns:especialidad_obtenerPorIdResponse" />
    </operation>
    <operation name="alumno_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_obtenerPorIdRequest" message="tns:alumno_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_obtenerPorIdResponse" message="tns:alumno_obtenerPorIdResponse" />
    </operation>
    <operation name="profesor_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_listarTodosRequest" message="tns:profesor_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_listarTodosResponse" message="tns:profesor_listarTodosResponse" />
    </operation>
    <operation name="profesor_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_obtenerPorIdRequest" message="tns:profesor_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_obtenerPorIdResponse" message="tns:profesor_obtenerPorIdResponse" />
    </operation>
    <operation name="especialidad_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_modificarRequest" message="tns:especialidad_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_modificarResponse" message="tns:especialidad_modificarResponse" />
    </operation>
    <operation name="profesor_existeProfesor">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_existeProfesorRequest" message="tns:profesor_existeProfesor" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_existeProfesorResponse" message="tns:profesor_existeProfesorResponse" />
    </operation>
    <operation name="seccion_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_listarTodosRequest" message="tns:seccion_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_listarTodosResponse" message="tns:seccion_listarTodosResponse" />
    </operation>
    <operation name="articulo_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_listarTodosRequest" message="tns:articulo_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_listarTodosResponse" message="tns:articulo_listarTodosResponse" />
    </operation>
    <operation name="articulo_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_obtenerPorIdRequest" message="tns:articulo_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_obtenerPorIdResponse" message="tns:articulo_obtenerPorIdResponse" />
    </operation>
    <operation name="capitulo_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_obtenerPorIdRequest" message="tns:capitulo_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_obtenerPorIdResponse" message="tns:capitulo_obtenerPorIdResponse" />
    </operation>
    <operation name="conferencia_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_insertarRequest" message="tns:conferencia_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_insertarResponse" message="tns:conferencia_insertarResponse" />
    </operation>
    <operation name="capitulo_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_listarTodosRequest" message="tns:capitulo_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_listarTodosResponse" message="tns:capitulo_listarTodosResponse" />
    </operation>
    <operation name="conferencia_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_modificarRequest" message="tns:conferencia_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_modificarResponse" message="tns:conferencia_modificarResponse" />
    </operation>
    <operation name="conferencia_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_eliminarRequest" message="tns:conferencia_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_eliminarResponse" message="tns:conferencia_eliminarResponse" />
    </operation>
    <operation name="especialidad_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_listarTodosRequest" message="tns:especialidad_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/especialidad_listarTodosResponse" message="tns:especialidad_listarTodosResponse" />
    </operation>
    <operation name="conferencia_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_listarTodosRequest" message="tns:conferencia_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_listarTodosResponse" message="tns:conferencia_listarTodosResponse" />
    </operation>
    <operation name="conferencia_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_obtenerPorIdRequest" message="tns:conferencia_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/conferencia_obtenerPorIdResponse" message="tns:conferencia_obtenerPorIdResponse" />
    </operation>
    <operation name="editorial_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_modificarRequest" message="tns:editorial_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_modificarResponse" message="tns:editorial_modificarResponse" />
    </operation>
    <operation name="editorial_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_obtenerPorIdRequest" message="tns:editorial_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_obtenerPorIdResponse" message="tns:editorial_obtenerPorIdResponse" />
    </operation>
    <operation name="editorial_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_listarTodosRequest" message="tns:editorial_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_listarTodosResponse" message="tns:editorial_listarTodosResponse" />
    </operation>
    <operation name="capitulo_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_modificarRequest" message="tns:capitulo_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_modificarResponse" message="tns:capitulo_modificarResponse" />
    </operation>
    <operation name="profesor_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_insertarRequest" message="tns:profesor_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_insertarResponse" message="tns:profesor_insertarResponse" />
    </operation>
    <operation name="seccion_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_eliminarRequest" message="tns:seccion_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_eliminarResponse" message="tns:seccion_eliminarResponse" />
    </operation>
    <operation name="articulo_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_modificarRequest" message="tns:articulo_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_modificarResponse" message="tns:articulo_modificarResponse" />
    </operation>
    <operation name="alumno_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_modificarRequest" message="tns:alumno_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_modificarResponse" message="tns:alumno_modificarResponse" />
    </operation>
    <operation name="alumno_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_listarTodosRequest" message="tns:alumno_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_listarTodosResponse" message="tns:alumno_listarTodosResponse" />
    </operation>
    <operation name="seccion_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_insertarRequest" message="tns:seccion_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_insertarResponse" message="tns:seccion_insertarResponse" />
    </operation>
    <operation name="profesor_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_eliminarRequest" message="tns:profesor_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_eliminarResponse" message="tns:profesor_eliminarResponse" />
    </operation>
    <operation name="articulo_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_eliminarRequest" message="tns:articulo_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_eliminarResponse" message="tns:articulo_eliminarResponse" />
    </operation>
    <operation name="alumno_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_eliminarRequest" message="tns:alumno_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_eliminarResponse" message="tns:alumno_eliminarResponse" />
    </operation>
    <operation name="alumno_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_insertarRequest" message="tns:alumno_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/alumno_insertarResponse" message="tns:alumno_insertarResponse" />
    </operation>
    <operation name="articulo_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_insertarRequest" message="tns:articulo_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/articulo_insertarResponse" message="tns:articulo_insertarResponse" />
    </operation>
    <operation name="capitulo_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_insertarRequest" message="tns:capitulo_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_insertarResponse" message="tns:capitulo_insertarResponse" />
    </operation>
    <operation name="capitulo_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_eliminarRequest" message="tns:capitulo_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/capitulo_eliminarResponse" message="tns:capitulo_eliminarResponse" />
    </operation>
    <operation name="seccion_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_modificarRequest" message="tns:seccion_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/seccion_modificarResponse" message="tns:seccion_modificarResponse" />
    </operation>
    <operation name="profesor_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_modificarRequest" message="tns:profesor_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/profesor_modificarResponse" message="tns:profesor_modificarResponse" />
    </operation>
    <operation name="linea_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_insertarRequest" message="tns:linea_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_insertarResponse" message="tns:linea_insertarResponse" />
    </operation>
    <operation name="linea_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_listarTodosRequest" message="tns:linea_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_listarTodosResponse" message="tns:linea_listarTodosResponse" />
    </operation>
    <operation name="linea_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_obtenerPorIdRequest" message="tns:linea_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_obtenerPorIdResponse" message="tns:linea_obtenerPorIdResponse" />
    </operation>
    <operation name="grupo_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_modificarRequest" message="tns:grupo_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_modificarResponse" message="tns:grupo_modificarResponse" />
    </operation>
    <operation name="grupo_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_listarTodosRequest" message="tns:grupo_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_listarTodosResponse" message="tns:grupo_listarTodosResponse" />
    </operation>
    <operation name="grupo_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_obtenerPorIdRequest" message="tns:grupo_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_obtenerPorIdResponse" message="tns:grupo_obtenerPorIdResponse" />
    </operation>
    <operation name="libro_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_modificarRequest" message="tns:libro_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_modificarResponse" message="tns:libro_modificarResponse" />
    </operation>
    <operation name="linea_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_eliminarRequest" message="tns:linea_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_eliminarResponse" message="tns:linea_eliminarResponse" />
    </operation>
    <operation name="libro_listarTodos">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_listarTodosRequest" message="tns:libro_listarTodos" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_listarTodosResponse" message="tns:libro_listarTodosResponse" />
    </operation>
    <operation name="grupo_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_eliminarRequest" message="tns:grupo_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_eliminarResponse" message="tns:grupo_eliminarResponse" />
    </operation>
    <operation name="libro_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_insertarRequest" message="tns:libro_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_insertarResponse" message="tns:libro_insertarResponse" />
    </operation>
    <operation name="editorial_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_eliminarRequest" message="tns:editorial_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_eliminarResponse" message="tns:editorial_eliminarResponse" />
    </operation>
    <operation name="libro_eliminar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_eliminarRequest" message="tns:libro_eliminar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_eliminarResponse" message="tns:libro_eliminarResponse" />
    </operation>
    <operation name="linea_modificar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_modificarRequest" message="tns:linea_modificar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/linea_modificarResponse" message="tns:linea_modificarResponse" />
    </operation>
    <operation name="editorial_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_insertarRequest" message="tns:editorial_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/editorial_insertarResponse" message="tns:editorial_insertarResponse" />
    </operation>
    <operation name="libro_obtenerPorId">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_obtenerPorIdRequest" message="tns:libro_obtenerPorId" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/libro_obtenerPorIdResponse" message="tns:libro_obtenerPorIdResponse" />
    </operation>
    <operation name="grupo_insertar">
      <input wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_insertarRequest" message="tns:grupo_insertar" />
      <output wsam:Action="http://servicios.softpub.pucp.edu.pe/ServicioWeb/grupo_insertarResponse" message="tns:grupo_insertarResponse" />
    </operation>
  </portType>
  <binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="seccion_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="alumno_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="profesor_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="profesor_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="profesor_existeProfesor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seccion_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="articulo_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="articulo_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="capitulo_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="conferencia_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="capitulo_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="conferencia_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="conferencia_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="especialidad_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="conferencia_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="conferencia_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editorial_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editorial_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editorial_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="capitulo_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="profesor_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seccion_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="articulo_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="alumno_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="alumno_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seccion_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="profesor_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="articulo_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="alumno_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="alumno_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="articulo_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="capitulo_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="capitulo_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seccion_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="profesor_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="linea_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="linea_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="linea_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="grupo_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="grupo_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="grupo_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="libro_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="linea_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="libro_listarTodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="grupo_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="libro_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editorial_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="libro_eliminar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="linea_modificar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editorial_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="libro_obtenerPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="grupo_insertar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWeb">
    <port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
      <soap:address location="http://localhost:8080/SoftPubWS_Servidor/ServicioWeb" />
    </port>
  </service>
</definitions>