2024-2/0682/unidad07.b - Programación distribuida con BD/SoftPub_Front-end/SoftPubBaseBO/Connected Services/ServicioWeb/ServicioWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.softpub.pe.edu.pe/" targetNamespace="http://servicios.softpub.pe.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="especialidad_eliminar" type="tns:especialidad_eliminar" />
  <xs:element name="especialidad_eliminarResponse" type="tns:especialidad_eliminarResponse" />
  <xs:element name="especialidad_insertar" type="tns:especialidad_insertar" />
  <xs:element name="especialidad_insertarResponse" type="tns:especialidad_insertarResponse" />
  <xs:element name="especialidad_listarTodos" type="tns:especialidad_listarTodos" />
  <xs:element name="especialidad_listarTodosResponse" type="tns:especialidad_listarTodosResponse" />
  <xs:element name="especialidad_modificar" type="tns:especialidad_modificar" />
  <xs:element name="especialidad_modificarResponse" type="tns:especialidad_modificarResponse" />
  <xs:element name="especialidad_obtenerPorId" type="tns:especialidad_obtenerPorId" />
  <xs:element name="especialidad_obtenerPorIdResponse" type="tns:especialidad_obtenerPorIdResponse" />
  <xs:element name="seccion_eliminar" type="tns:seccion_eliminar" />
  <xs:element name="seccion_eliminarResponse" type="tns:seccion_eliminarResponse" />
  <xs:element name="seccion_insertar" type="tns:seccion_insertar" />
  <xs:element name="seccion_insertarResponse" type="tns:seccion_insertarResponse" />
  <xs:element name="seccion_listarTodos" type="tns:seccion_listarTodos" />
  <xs:element name="seccion_listarTodosResponse" type="tns:seccion_listarTodosResponse" />
  <xs:element name="seccion_modificar" type="tns:seccion_modificar" />
  <xs:element name="seccion_modificarResponse" type="tns:seccion_modificarResponse" />
  <xs:element name="seccion_obtenerPorId" type="tns:seccion_obtenerPorId" />
  <xs:element name="seccion_obtenerPorIdResponse" type="tns:seccion_obtenerPorIdResponse" />
  <xs:complexType name="seccion_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="seccion_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
      <xs:element minOccurs="0" name="seccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_seccion" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="especialidad_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_seccion" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nivel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PREGRADO" />
      <xs:enumeration value="MAESTRIA" />
      <xs:enumeration value="DOCTORADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>