2024-2/0682/unidad07.f - Programación distribuida - reportes/ejemplo completo/SoftPub_Front-end/SoftPubBaseBO/Connected Services/ServicioWeb/Reportes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.softpub.pucp.edu.pe/" targetNamespace="http://servicios.softpub.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reporteEspecialidad" type="tns:reporteEspecialidad" />
  <xs:element name="reporteEspecialidadResponse" type="tns:reporteEspecialidadResponse" />
  <xs:element name="reporteSeccion" type="tns:reporteSeccion" />
  <xs:element name="reporteSeccionResponse" type="tns:reporteSeccionResponse" />
  <xs:complexType name="reporteEspecialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteEspecialidadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reporteSeccion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reporteSeccionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>