2024-2/0684/unidad07.a - Programación distribuida/SoftPubWS_Cliente/SoftPubWS_Cliente/Connected Services/OtroNameSpace/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softpub.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ServicioWeb" targetNamespace="http://services.softpub.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftPubWS_Servidor/ServicioWeb?xsd=1" namespace="http://services.softpub.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="sumar">
    <part name="parameters" element="tns:sumar" />
  </message>
  <message name="sumarResponse">
    <part name="parameters" element="tns:sumarResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="multiplicar">
    <part name="parameters" element="tns:multiplicar" />
  </message>
  <message name="multiplicarResponse">
    <part name="parameters" element="tns:multiplicarResponse" />
  </message>
  <portType name="ServicioWeb">
    <operation name="sumar">
      <input wsam:Action="http://services.softpub.pucp.edu.pe/ServicioWeb/sumarRequest" message="tns:sumar" />
      <output wsam:Action="http://services.softpub.pucp.edu.pe/ServicioWeb/sumarResponse" message="tns:sumarResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://services.softpub.pucp.edu.pe/ServicioWeb/helloRequest" message="tns:hello" />
      <output wsam:Action="http://services.softpub.pucp.edu.pe/ServicioWeb/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="multiplicar">
      <input wsam:Action="http://services.softpub.pucp.edu.pe/ServicioWeb/multiplicarRequest" message="tns:multiplicar" />
      <output wsam:Action="http://services.softpub.pucp.edu.pe/ServicioWeb/multiplicarResponse" message="tns:multiplicarResponse" />
    </operation>
  </portType>
  <binding name="ServicioWebPortBinding" type="tns:ServicioWeb">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="sumar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="multiplicar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ServicioWeb">
    <port name="ServicioWebPort" binding="tns:ServicioWebPortBinding">
      <soap:address location="http://localhost:8080/SoftPubWS_Servidor/ServicioWeb" />
    </port>
  </service>
</definitions>