2024-2/0684/unidad07.a - Programación distribuida/SoftPubWS_Cliente/SoftPubWS_Cliente/Connected Services/OtroNameSpace/ServicioWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softpub.pucp.edu.pe/" targetNamespace="http://services.softpub.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="multiplicar" type="tns:multiplicar" />
  <xs:element name="multiplicarResponse" type="tns:multiplicarResponse" />
  <xs:element name="sumar" type="tns:sumar" />
  <xs:element name="sumarResponse" type="tns:sumarResponse" />
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="multiplicar">
    <xs:sequence>
      <xs:element name="a" type="xs:int" />
      <xs:element name="b" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="multiplicarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sumar">
    <xs:sequence>
      <xs:element name="a" type="xs:int" />
      <xs:element name="b" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sumarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>