2024-2/0684/unidad07.b - Programación distribuida con BD/SoftPub_Front-end/SoftPubBaseBO/Connected Services/ServicioWeb/ServicioWeb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicios.softpub.pucp.edu.pe/" targetNamespace="http://servicios.softpub.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="alumno_eliminar" type="tns:alumno_eliminar" />
  <xs:element name="alumno_eliminarResponse" type="tns:alumno_eliminarResponse" />
  <xs:element name="alumno_insertar" type="tns:alumno_insertar" />
  <xs:element name="alumno_insertarResponse" type="tns:alumno_insertarResponse" />
  <xs:element name="alumno_listarTodos" type="tns:alumno_listarTodos" />
  <xs:element name="alumno_listarTodosResponse" type="tns:alumno_listarTodosResponse" />
  <xs:element name="alumno_modificar" type="tns:alumno_modificar" />
  <xs:element name="alumno_modificarResponse" type="tns:alumno_modificarResponse" />
  <xs:element name="alumno_obtenerPorId" type="tns:alumno_obtenerPorId" />
  <xs:element name="alumno_obtenerPorIdResponse" type="tns:alumno_obtenerPorIdResponse" />
  <xs:element name="articulo_eliminar" type="tns:articulo_eliminar" />
  <xs:element name="articulo_eliminarResponse" type="tns:articulo_eliminarResponse" />
  <xs:element name="articulo_insertar" type="tns:articulo_insertar" />
  <xs:element name="articulo_insertarResponse" type="tns:articulo_insertarResponse" />
  <xs:element name="articulo_listarTodos" type="tns:articulo_listarTodos" />
  <xs:element name="articulo_listarTodosResponse" type="tns:articulo_listarTodosResponse" />
  <xs:element name="articulo_modificar" type="tns:articulo_modificar" />
  <xs:element name="articulo_modificarResponse" type="tns:articulo_modificarResponse" />
  <xs:element name="articulo_obtenerPorId" type="tns:articulo_obtenerPorId" />
  <xs:element name="articulo_obtenerPorIdResponse" type="tns:articulo_obtenerPorIdResponse" />
  <xs:element name="capitulo_eliminar" type="tns:capitulo_eliminar" />
  <xs:element name="capitulo_eliminarResponse" type="tns:capitulo_eliminarResponse" />
  <xs:element name="capitulo_insertar" type="tns:capitulo_insertar" />
  <xs:element name="capitulo_insertarResponse" type="tns:capitulo_insertarResponse" />
  <xs:element name="capitulo_listarTodos" type="tns:capitulo_listarTodos" />
  <xs:element name="capitulo_listarTodosResponse" type="tns:capitulo_listarTodosResponse" />
  <xs:element name="capitulo_modificar" type="tns:capitulo_modificar" />
  <xs:element name="capitulo_modificarResponse" type="tns:capitulo_modificarResponse" />
  <xs:element name="capitulo_obtenerPorId" type="tns:capitulo_obtenerPorId" />
  <xs:element name="capitulo_obtenerPorIdResponse" type="tns:capitulo_obtenerPorIdResponse" />
  <xs:element name="conferencia_eliminar" type="tns:conferencia_eliminar" />
  <xs:element name="conferencia_eliminarResponse" type="tns:conferencia_eliminarResponse" />
  <xs:element name="conferencia_insertar" type="tns:conferencia_insertar" />
  <xs:element name="conferencia_insertarResponse" type="tns:conferencia_insertarResponse" />
  <xs:element name="conferencia_listarTodos" type="tns:conferencia_listarTodos" />
  <xs:element name="conferencia_listarTodosResponse" type="tns:conferencia_listarTodosResponse" />
  <xs:element name="conferencia_modificar" type="tns:conferencia_modificar" />
  <xs:element name="conferencia_modificarResponse" type="tns:conferencia_modificarResponse" />
  <xs:element name="conferencia_obtenerPorId" type="tns:conferencia_obtenerPorId" />
  <xs:element name="conferencia_obtenerPorIdResponse" type="tns:conferencia_obtenerPorIdResponse" />
  <xs:element name="editorial_eliminar" type="tns:editorial_eliminar" />
  <xs:element name="editorial_eliminarResponse" type="tns:editorial_eliminarResponse" />
  <xs:element name="editorial_insertar" type="tns:editorial_insertar" />
  <xs:element name="editorial_insertarResponse" type="tns:editorial_insertarResponse" />
  <xs:element name="editorial_listarTodos" type="tns:editorial_listarTodos" />
  <xs:element name="editorial_listarTodosResponse" type="tns:editorial_listarTodosResponse" />
  <xs:element name="editorial_modificar" type="tns:editorial_modificar" />
  <xs:element name="editorial_modificarResponse" type="tns:editorial_modificarResponse" />
  <xs:element name="editorial_obtenerPorId" type="tns:editorial_obtenerPorId" />
  <xs:element name="editorial_obtenerPorIdResponse" type="tns:editorial_obtenerPorIdResponse" />
  <xs:element name="especialidad_eliminar" type="tns:especialidad_eliminar" />
  <xs:element name="especialidad_eliminarResponse" type="tns:especialidad_eliminarResponse" />
  <xs:element name="especialidad_insertar" type="tns:especialidad_insertar" />
  <xs:element name="especialidad_insertarResponse" type="tns:especialidad_insertarResponse" />
  <xs:element name="especialidad_listarTodos" type="tns:especialidad_listarTodos" />
  <xs:element name="especialidad_listarTodosResponse" type="tns:especialidad_listarTodosResponse" />
  <xs:element name="especialidad_modificar" type="tns:especialidad_modificar" />
  <xs:element name="especialidad_modificarResponse" type="tns:especialidad_modificarResponse" />
  <xs:element name="especialidad_obtenerPorId" type="tns:especialidad_obtenerPorId" />
  <xs:element name="especialidad_obtenerPorIdResponse" type="tns:especialidad_obtenerPorIdResponse" />
  <xs:element name="grupo_eliminar" type="tns:grupo_eliminar" />
  <xs:element name="grupo_eliminarResponse" type="tns:grupo_eliminarResponse" />
  <xs:element name="grupo_insertar" type="tns:grupo_insertar" />
  <xs:element name="grupo_insertarResponse" type="tns:grupo_insertarResponse" />
  <xs:element name="grupo_listarTodos" type="tns:grupo_listarTodos" />
  <xs:element name="grupo_listarTodosResponse" type="tns:grupo_listarTodosResponse" />
  <xs:element name="grupo_modificar" type="tns:grupo_modificar" />
  <xs:element name="grupo_modificarResponse" type="tns:grupo_modificarResponse" />
  <xs:element name="grupo_obtenerPorId" type="tns:grupo_obtenerPorId" />
  <xs:element name="grupo_obtenerPorIdResponse" type="tns:grupo_obtenerPorIdResponse" />
  <xs:element name="libro_eliminar" type="tns:libro_eliminar" />
  <xs:element name="libro_eliminarResponse" type="tns:libro_eliminarResponse" />
  <xs:element name="libro_insertar" type="tns:libro_insertar" />
  <xs:element name="libro_insertarResponse" type="tns:libro_insertarResponse" />
  <xs:element name="libro_listarTodos" type="tns:libro_listarTodos" />
  <xs:element name="libro_listarTodosResponse" type="tns:libro_listarTodosResponse" />
  <xs:element name="libro_modificar" type="tns:libro_modificar" />
  <xs:element name="libro_modificarResponse" type="tns:libro_modificarResponse" />
  <xs:element name="libro_obtenerPorId" type="tns:libro_obtenerPorId" />
  <xs:element name="libro_obtenerPorIdResponse" type="tns:libro_obtenerPorIdResponse" />
  <xs:element name="linea_eliminar" type="tns:linea_eliminar" />
  <xs:element name="linea_eliminarResponse" type="tns:linea_eliminarResponse" />
  <xs:element name="linea_insertar" type="tns:linea_insertar" />
  <xs:element name="linea_insertarResponse" type="tns:linea_insertarResponse" />
  <xs:element name="linea_listarTodos" type="tns:linea_listarTodos" />
  <xs:element name="linea_listarTodosResponse" type="tns:linea_listarTodosResponse" />
  <xs:element name="linea_modificar" type="tns:linea_modificar" />
  <xs:element name="linea_modificarResponse" type="tns:linea_modificarResponse" />
  <xs:element name="linea_obtenerPorId" type="tns:linea_obtenerPorId" />
  <xs:element name="linea_obtenerPorIdResponse" type="tns:linea_obtenerPorIdResponse" />
  <xs:element name="profesor_eliminar" type="tns:profesor_eliminar" />
  <xs:element name="profesor_eliminarResponse" type="tns:profesor_eliminarResponse" />
  <xs:element name="profesor_existeProfesor" type="tns:profesor_existeProfesor" />
  <xs:element name="profesor_existeProfesorResponse" type="tns:profesor_existeProfesorResponse" />
  <xs:element name="profesor_insertar" type="tns:profesor_insertar" />
  <xs:element name="profesor_insertarResponse" type="tns:profesor_insertarResponse" />
  <xs:element name="profesor_listarTodos" type="tns:profesor_listarTodos" />
  <xs:element name="profesor_listarTodosResponse" type="tns:profesor_listarTodosResponse" />
  <xs:element name="profesor_modificar" type="tns:profesor_modificar" />
  <xs:element name="profesor_modificarResponse" type="tns:profesor_modificarResponse" />
  <xs:element name="profesor_obtenerPorId" type="tns:profesor_obtenerPorId" />
  <xs:element name="profesor_obtenerPorIdResponse" type="tns:profesor_obtenerPorIdResponse" />
  <xs:element name="seccion_eliminar" type="tns:seccion_eliminar" />
  <xs:element name="seccion_eliminarResponse" type="tns:seccion_eliminarResponse" />
  <xs:element name="seccion_insertar" type="tns:seccion_insertar" />
  <xs:element name="seccion_insertarResponse" type="tns:seccion_insertarResponse" />
  <xs:element name="seccion_listarTodos" type="tns:seccion_listarTodos" />
  <xs:element name="seccion_listarTodosResponse" type="tns:seccion_listarTodosResponse" />
  <xs:element name="seccion_modificar" type="tns:seccion_modificar" />
  <xs:element name="seccion_modificarResponse" type="tns:seccion_modificarResponse" />
  <xs:element name="seccion_obtenerPorId" type="tns:seccion_obtenerPorId" />
  <xs:element name="seccion_obtenerPorIdResponse" type="tns:seccion_obtenerPorIdResponse" />
  <xs:complexType name="conferencia_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="paginaInicio" type="xs:int" />
      <xs:element minOccurs="0" name="paginaFin" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conferencia_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" type="xs:string" />
      <xs:element minOccurs="0" name="edicion" type="xs:string" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="editorial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_listarTodos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:linea" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea">
    <xs:sequence>
      <xs:element minOccurs="0" name="grupo" type="tns:grupo" />
      <xs:element minOccurs="0" name="idLinea" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sigla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      <xs:element minOccurs="0" name="idLinea" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      <xs:element minOccurs="0" name="idLinea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conferencia_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conferencia_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="publicacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="autores" nillable="true" type="tns:autor" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
      <xs:element minOccurs="0" name="edicion" type="xs:string" />
      <xs:element minOccurs="0" name="editorial" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ISBN" type="xs:string" />
      <xs:element minOccurs="0" name="ISSN" type="xs:string" />
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="institucion" type="xs:string" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="paginaFin" type="xs:int" />
      <xs:element minOccurs="0" name="paginaInicio" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipo" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autor">
    <xs:sequence>
      <xs:element minOccurs="0" name="persona" type="tns:persona" />
      <xs:element minOccurs="0" name="publicacion" type="tns:publicacion" />
      <xs:element minOccurs="0" name="seqAutor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaEliminacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="grupo_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:grupo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sigla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="libro_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:grupo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" type="xs:string" />
      <xs:element minOccurs="0" name="edicion" type="xs:string" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="editorial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conferencia_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="conferencia_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_seccion" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="paginaInicio" type="xs:int" />
      <xs:element minOccurs="0" name="paginaFin" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="ISSN" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
      <xs:element minOccurs="0" name="seccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_seccion" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="capitulo_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idSeccion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_existeProfesor">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_existeProfesorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
          <xs:element minOccurs="0" name="dedicacion" type="tns:dedicacion" />
          <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="conferencia_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="paginaInicio" type="xs:int" />
      <xs:element minOccurs="0" name="paginaFin" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="ciudad" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conferencia_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" type="xs:string" />
      <xs:element minOccurs="0" name="edicion" type="xs:string" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="editorial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="dedicacion" type="tns:dedicacion" />
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="matriculado" type="xs:boolean" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuarioCreacion" type="xs:string" />
      <xs:element minOccurs="0" name="matriculado" type="xs:boolean" />
      <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      <xs:element minOccurs="0" name="idLinea" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="sigla" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grupo_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="especialidad_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:especialidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      <xs:element minOccurs="0" name="paterno" type="xs:string" />
      <xs:element minOccurs="0" name="materno" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="genero" type="tns:genero" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="usuarioModificacion" type="xs:string" />
      <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
      <xs:element minOccurs="0" name="dedicacion" type="tns:dedicacion" />
      <xs:element minOccurs="0" name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="seccion" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="paginaInicio" type="xs:int" />
      <xs:element minOccurs="0" name="paginaFin" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="ISSN" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="articulo_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element minOccurs="0" name="matriculado" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="conferencia_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="conferencia_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="paginaInicio" type="xs:int" />
      <xs:element minOccurs="0" name="paginaFin" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="ISSN" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="profesor_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="profesor_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:profesor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="alumno_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_eliminar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_eliminarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="seccion_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="seccion_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:seccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idGrupo" type="xs:int" />
      <xs:element minOccurs="0" name="idLinea" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="linea_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:linea" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editorial_listarTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="editorial_listarTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idEspecialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_especialidad" type="xs:string" />
      <xs:element minOccurs="0" name="facultad" type="xs:string" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_obtenerPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="libro_obtenerPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:publicacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_modificar">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPublicacion" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="volumen" type="xs:string" />
      <xs:element minOccurs="0" name="numero" type="xs:string" />
      <xs:element minOccurs="0" name="paginaInicio" type="xs:int" />
      <xs:element minOccurs="0" name="paginaFin" type="xs:int" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="ISSN" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="articulo_modificarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_insertar">
    <xs:sequence>
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="origen" type="xs:string" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DOI" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" type="xs:string" />
      <xs:element minOccurs="0" name="edicion" type="xs:string" />
      <xs:element minOccurs="0" name="lugar" type="xs:string" />
      <xs:element minOccurs="0" name="editorial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="capitulo_insertarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="genero">
    <xs:restriction base="xs:string">
      <xs:enumeration value="MASCULINO" />
      <xs:enumeration value="FEMENINO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LIBRO" />
      <xs:enumeration value="ARTICULO_EN_REVISTA" />
      <xs:enumeration value="ARTICULO_EN_CONFERENCIA" />
      <xs:enumeration value="CAPITULO_DE_LIBRO" />
      <xs:enumeration value="EDITORIAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="categoria">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONTRATADO" />
      <xs:enumeration value="AUXILIAR" />
      <xs:enumeration value="ASOCIADO" />
      <xs:enumeration value="PRINCIPAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="dedicacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TPA" />
      <xs:enumeration value="TC" />
      <xs:enumeration value="TPC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="nivel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PREGRADO" />
      <xs:enumeration value="MAESTRIA" />
      <xs:enumeration value="DOCTORADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>